* {
	box-sizing: border-box;
}

.container {
	max-width: 1352px;
	margin: 0 auto;

	@include tablet {
		width: 100%;
		padding: 0 15px;
	}
}

body {
	font-family: $primary-font;
}

img {
	width: 100%;
	height: auto;
}

a:active,
a:focus {
	outline: none;
}

.btn {
	color: $color-white;
}

.title {
	font-family: $secondary-font;
	color: $color-black;
}

.statistics_title,
.benefits_article_title {
	font-size: 36px;
	font-family: $secondary-font;
	line-height: 35px;

	@include mobile {
		text-align: center;
		padding: 0 20px;
	}
}


// Color used for Pricing Section

.basic {
	color: $color-redish;
}

.professional {
	color: $color-primary;
}

.premium {
	color: $color-green;
}

.btn-pricing--basic {
	background-color: $color-redish;
}

.btn-pricing--professional {
	background-color: $color-primary;
}

.btn-pricing--premium {
	background-color: $color-green;
}