:root {
	--color-primary: #08a5e4;
	--color-primary-shadow: #07ace629;
	--color-redish: #fb3b64;
	--color-green: #55dfb4;
	--color-black: #000000;
	--color-grey: #a5a5a5;
	--color-light-grey: #f7f7f7;
	--color-white: #ffffff;
	--primary-font: 'Open Sans', sans-serif;
	--secondary-font: 'Raleway', serif;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1352px;
	margin: 0 auto;
}

body {
	font-family: var(--primary-font);
}

img {
	width: 100%;
	height: auto;
}

.btn {
	color: var(--color-white);
}

.title {
	font-family: var(--secondary-font);
	color: var(--color-black);
}

/* Header */

.header {
	height: 70px;
	box-shadow: 0px 3px 6px #00000029;
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header_logo {
	text-decoration: none;
	color: var(--color-primary);
	font-family: var(--secondary-font);
	font-size: 32px;
	font-weight: 300px;
}

.header_nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_menu {
	display: flex;
}

.header_menu_el {
	margin-left: 95px;

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: var(--color-grey);
		letter-spacing: 3.28px;
		padding: 28px 10px 22px;
		cursor: pointer;

		&:hover {
			border-bottom: 4px solid var(--color-primary);
			color: var(--color-black);
		}
	}
}

/* Opening */

.opening {
	display: flex;
	flex-direction: column;
}

.opening_content {
	text-align: center;
	margin-top: 130px;
}

.opening_title {
	font-size: 49px;
}

.opening_heading {
	color: var(--color-black);
	margin-top: 20px;
	margin-bottom: 38px;
}

.btn_large {
	padding: 22px 157px 23px;
	background-color: var(--color-primary);
	border-radius: 40px;
	box-shadow: 5px 10px 14px var(--color-primary-shadow);
	text-decoration: none;
	cursor: pointer;
}

/* Statistics */

.statistics {
	display: flex;
	color: var(--color-black);
	font-family: var(--secondary-font);
	box-shadow: 0px -5px 80px #00000029;
}

.statistics_container {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-bottom: 120px;
}

.statistics_title,
.benefits_title {
	font-size: 36px;
	font-family: var(--secondary-font);
}

.statistics_content {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 100px;
}

.statistic_feature {
	display: flex;
	flex-direction: column;
	align-items: center;

	h4 {
		font: 40px;
		font-weight: 800;
		margin-bottom: 19px;
		letter-spacing: 6px;
	}

	p {
		color: var(--color-grey);
	}
}

.statistic_circle {
	border-radius: 50%;
	height: 62px;
	width: 62px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 14px;
}

.statistics_content .statistic_feature:nth-child(1) .statistic_circle {
	background-color: var(--color-redish);
}

.statistics_content .statistic_feature:nth-child(2) .statistic_circle {
	background-color: var(--color-primary);
}

.statistics_content .statistic_feature:nth-child(3) .statistic_circle {
	background-color: var(--color-green);
}

.statistics_icons {
	height: 52px;
	width: 44px;
	transform: translateX(24px);
}

/* Benefits */

.benefits {
	background-color: var(--color-light-grey);
	padding: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		width: 1124px;
	}
}

.benefits_article,
.benefits_article_separate {
	background-color: var(--color-white);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-family: var(--primary-font);
	color: var(--color-black);
	border: 1px solid #e8e9ed;
	border-radius: 5px;
	margin-bottom: 35px;
	position: relative;
}

.benefits_article_discription {
	max-width: 416px;
	margin: 30px 35px;

	&::after {
		content: '';
		display: block;
		width: 328px;
		margin-top: 50px;
		margin-bottom: 90px;
		border-bottom: 4px solid var(--color-redish);
	}
}

.benefits_title {
	margin-left: 35px;
	margin-top: 90px;
}

.benefits_img_container {
	background-color: var(--color-redish);
	position: absolute;
	top: 70px;
	right: 71px;
	height: 180px;
	width: 180px;
	transform: rotate(45deg);
	padding: 14px;
	border-radius: 41px;
	margin-bottom: 77px;
	margin-right: 70px;
}

.laptop_img {
	width: 386px;
	transform: rotate(-45deg);
	position: absolute;
	top: 98px;
	right: -73px;
}

/* Reversed Article */

.benefits_container .benefits_article:nth-last-child(2) {
	flex-direction: row-reverse;
}

.benefits_container .benefits_article:nth-last-child(2) .benefits_title {
	margin-right: 170px;
	margin-top: 68px;
}

.benefits_container .benefits_article:nth-last-child(2) .benefits_article_discription::after {
	border-bottom: 4px solid var(--color-primary);
}

.benefits_circle-img {
	background-color: var(--color-primary);
	height: 320px;
	width: 320px;
	border-radius: 50%;
	position: absolute;
	top: 11px;
	left: 69px;
}

.selfphone_img {
	width: 426px;
	position: absolute;
	top: 11px;
	left: 20px;
}

/* Benefits Separate Article */

.benefits_article_separate {
	background-color: var(--color-light-grey);
	border: none;
}

.benefits_article_separate .benefits_container {
	display: flex;
	justify-content: space-between;
	margin: 0;
	gap: 60px;

	.benefits_article_text {
		border: 1px solid #e8e9ed;
	}
}

.benefits_square_contener {
	width: 440px;
	height: 370px;
	background-color: var(--color-green);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #e8e9ed;
	border-radius: 5px;
}

.benefits_article_separate .benefits_container .benefits_article_text {
	width: 100%;
}

.benefits_article_separate .benefits_container .benefits_article_text .benefits_title {
	margin-top: 70px;
}

.benefits_article_separate .benefits_container .benefits_article_discription {
	max-width: 553px;
}

.trumpet_img {
	width: 296px;
	margin: 98px 82px 64px 62px;
}

.benefits_article_separate .benefits_container .benefits_article_text .benefits_article_discription::after {
	border-bottom: 4px solid var(--color-green);
	margin-top: 44px;
	margin-bottom: 70px;
}

/* Pricing Section */

.basic {
	color: var(--color-redish);
}

.professional {
	color: var(--color-primary);
}

.premium {
	color: var(--color-green);
}

.pricing {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: var(--color-white);
	padding-top: 100px;
	font-family: var(--primary-font);
	flex-direction: column;
	
}

.pricing_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 57px;
	

}

.priccing_list_title {
	font-size: 36px;
}

.pricing_list_box_basic,
.pricing_list_box_professional,
.pricing_list_box_premium {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 18px;
	margin-top: 70px;
	position: relative;
}

.pricing_list_box_basic {
	border: 1px solid var(--color-redish);
	width: 370px;
}

.pricing_list_box_professional {
	border: 1px solid var(--color-primary);
	box-shadow: 5px 10px 27px #07ace629;
	width: 403px;
	margin-top: 50px;
}

.pricing_list_box_premium {
	border: 1px solid var(--color-green);
	width: 370px;
}

.pricing_type {
	font-family: var(--secondary-font);
	font-weight: bold;
	font-size: 20px;
	color: #13253b;
	margin-top: 34px;
	margin-bottom: 14px;
}

.pricing_list_price {
	font-size: 46px;
}

.pricing .pricing_list_box_basic .pricing_list_price {
	margin-bottom: 69px;
}

.pricing_limited {
	margin-top: 15px;
	margin-bottom: 66px;
	font-family: var(--secondary-font);
	font-size: 12px;
	font-weight: bold;
	color: #13253b;
}
.pricing_list_box_premium .pricing_limited{
	margin-bottom: 42px;
}

.pricing_list_contains {
	margin-bottom: 20px;
	font-size: 14px;
	color: var(--color-black);

	&::before {
		content: '';
		background-image: url(../assets/Checkmark-1.svg);
		display: inline-block;
		height: 11px;
		width: 11px;
		margin-right: 10px;
	}
}

.pricing_list_box_professional .pricing_list_contains  {
	margin-bottom: 25px;
}

.pricing_list_not_contains {
	margin-bottom: 20px;
	font-size: 14px;
	color: var(--color-black);

	&::before {
		content: '';
		background-image: url(../assets/Close.svg);
		display: inline-block;
		height: 11px;
		width: 11px;
		margin-right: 10px;
	}
}


.pricing_list li:last-of-type{
	margin-bottom: 80px;
}

.btn-small{
	color: var(--color-white);
	text-decoration: none;
	font-weight: bold;
	padding: 16px 57px;
	border-radius: 23px;
	position: absolute;
	bottom: -5%;
	left: 30%;
	cursor: pointer;
}

.btn-pricing--basic {
	background-color: var(--color-redish);
}

.btn-pricing--professional {
	background-color: var(--color-primary);
}

.btn-pricing--premium{
	background-color: var(--color-green);
}