.footer {
	background-color: $color-light-grey;
	box-shadow: 0px -5px 40px #00000029;
	padding: 20px 0;

	&_container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.footer_lognav_box {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.footer_logo {
				font-family: $secondary-font;
				font-size: 26px;
				font-weight: 300;
				color: $color-primary;
				line-height: 30px;
			}

			.footer_copyright {
				font-size: 11px;
				color: $color-grey;
				line-height: 15px;
			}
		}

		.footer_icons {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}
}
