.pricing {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: $color-white;
	padding-top: 100px;
	font-family: $primary-font;
	flex-direction: column;

	@include mobile {
		padding-top: 54px;
		padding-bottom: 77px;
	}

	&_list_title {
		font-size: 36px;
	}

	&_container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 57px;

		@include mobile {
			flex-direction: column;
			gap: 0px;
		}
	}

	&_list_box_basic,
	&_list_box_professional,
	&_list_box_premium {
		display: flex;
		flex-direction: column;
		text-align: center;
		border-radius: 18px;
		margin-top: 70px;
		position: relative;

		@include mobile {
			flex-direction: row;
			width: 100%;
			margin-top: 54px;
		}

		.box {
			@include mobile {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;
				flex-direction: column;
			}
		}

		.pricing_type {
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 20px;
			color: #13253b;
			margin-top: 34px;
			margin-bottom: 14px;

			@include mobile {
				margin-top: 70px;
			}
		}

		.pricing_list_price {
			font-size: 46px;
		}

		.prace_list {
			@include mobile {
				width: 50%;
			}
		}

		.pricing_list_contains {
			margin-bottom: 20px;
			font-size: 14px;
			color: $color-black;

			@include mobile {
				text-align: left;
			}

			&::before {
				content: '';
				background-image: url(../assets/Checkmark-1.svg);
				display: inline-block;
				height: 11px;
				width: 11px;
				margin-right: 10px;
			}
		}

		.pricing_list_not_contains {
			margin-bottom: 20px;
			font-size: 14px;
			color: $color-black;

			@include mobile {
				text-align: left;
			}

			&::before {
				content: '';
				background-image: url(../assets/Close.svg);
				display: inline-block;
				height: 11px;
				width: 11px;
				margin-right: 10px;
			}
		}
	}

	&_list_box_basic {
		border: 1px solid $color-redish;
		width: 370px;

		@include mobile {
			width: 300px;
		}

		.pricing_list_price {
			margin-bottom: 69px;
		}
	}

	&_list_box_professional {
		border: 1px solid $color-primary;
		box-shadow: 5px 10px 27px $color-primary-shadow;
		width: 403px;
		margin-top: 50px;

		@include mobile {
			width: 340px;
		}

		.pricing_type {
			@include mobile {
				margin-top: 91px;
			}
		}

		.pricing_list_contains {
			margin-bottom: 25px;
		}
	}

	&_list_box_premium {
		border: 1px solid $color-green;
		width: 370px;

		@include mobile {
			width: 300px;
		}

		.pricing_limited {
			margin-bottom: 42px;
		}
	}

	.pricing_list li:first-of-type {
		@include mobile {
			margin-top: 51px;
		}
	}

	.pricing_list li:last-of-type {
		margin-bottom: 80px;

		@include mobile {
			margin-bottom: 51px;
		}
	}

	.btn-small {
		color: $color-white;
		text-decoration: none;
		font-weight: bold;
		padding: 16px 57px;
		border-radius: 23px;
		position: absolute;
		bottom: -5%;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;

		@include mobile {
			bottom: -10%;
		}
	}

	&_list_box_basic {
		@include mobile {
			margin-top: 14px;
		}
	}
}

.pricing_list_box_professional,
.pricing_list_box_premium {
	.pricing_limited {
		margin-top: 15px;
		margin-bottom: 66px;
		font-family: $secondary-font;
		font-size: 12px;
		font-weight: bold;
		color: #13253b;
	}
}
